.hero-home {
    position: relative;
    .hero-img {
        
        img.cercle1 {
            position: fixed;
            bottom: 90%;
            left: 75%;
            z-index: -2;
            max-width: 30%;

            @media (min-width: 1200px) {
                bottom: 60%;
                left: 80%;
            }
        }
    
        img.cloud1 {
            position: fixed;
            bottom: 85%;
            left: 60%;
            z-index: -1;
            max-width: 50%;

            @media (min-width: 1200px) {
                bottom: 40%;
                left: 60%;
            }
    
        }
    
        img.cercle2 {
            display: none;
            
            @media (min-width: 1200px) {
                display: initial;
                position: fixed;
                z-index: -3;
                bottom: 30%;
                left: 10%;
                max-width: 80%;
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                display: initial;
                position: fixed;
                z-index: -3;
                bottom: 60%;
                left: 10%;
                max-width: 80%;
            }
        }
    
        img.cloud2 {
            display: none;

            @media (min-width: 1200px) {
                display: initial;
                position: fixed;
                z-index: -1;
                top: 20%;
                right: 62%;
                max-width: 60%;
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                display: initial;
                position: fixed;
                z-index: -1;
                bottom: 50%;
                right: 60%;
                max-width: 60%;
            }
        }
    
        img.cercle3 {
            display: none;

            @media (min-width: 1200px) {
                display: initial;
                position: fixed;
                z-index: -5;
                bottom: 18%;
                left: 85%;
                max-width: 60%;
            }

            @media (min-width: 992px) and (max-width: 1199.98px) {
                display: initial;
                position: fixed;
                z-index: -5;
                bottom: 50%;
                left: 85%;
                max-width: 60%;
            }
        }
    }
    
    .title {
        margin-top: 20px;
        font-size: 60px;
        font-weight: bold;
        color: #0073F6;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin-top: 100px;
            font-size: 150px;
            margin-bottom: 100px;
        }

    }

    p {
        color: #5E5E5E;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    .section-btn {
        margin-top: 20px;

        @media (min-width: 992px) {
            margin-top: 80px;
        }

        .btn {
            background-color: #0073F6;
            color: #ffffff;
            border-radius: 25px;

            @media (min-width: 768px) {
                font-size: 18px;
            }
        }
        
        p {
            margin: 0;
            color: #0073F6;
            text-decoration: underline #0073F6;

            @media (min-width: 992px) {
                font-size: 18px;
            }

            @media (min-width: 768px) {
                font-size: 18px;
            }

        }
    }   
}