.strategy {

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin-top: 50px;
        }
    }

    .strategy-item {

        .strategy-content {
            
            .strategy-title {
                color: #000000;
                font-size: 18px;

                @media (min-width: 768px) {
                    font-size: 22px;
                }
            }

            p {
                color: #5E5E5E;
                font-size: 16px;

                @media (min-width: 768px) {
                    font-size: 18px;
                }
            }
            
        }

        .strategy-img {
            position: relative;
            margin-bottom: 20px;

            @media (min-width: 992px) {
                margin-bottom: 0;
            }
            
            img {
                z-index: 1;
            }

            .portrait {
                max-width: 80%;
                left: 4%;
                position: absolute;

                @media (min-width: 1200px) {
                    max-width: 55%;
                    left: 5%;
                    bottom: 2%;
                }

                @media (min-width: 768px) and (max-width: 991.98px) {
                    max-width: 80%;
                    left: 5%;
                    bottom: 2%;
                }
  
            }

            .strategy-gear {

                .gear1 {
                    position: absolute;
                    left: 15%;
                    bottom: 30%;

                    @media (min-width: 992px) {
                        left: 44%;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        left: 22%;
                    }

                    @media (max-width: 575.98px) {
                        left: 14%;
                        max-width: 25%;
                    }

                }

                .gear2 {
                    position: absolute;
                    left: 37%;
                    bottom: 10%;

                    @media (min-width: 992px) {
                        bottom: 15%;
                        left: 58%;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        left: 42%;
                    }

                    @media (max-width: 575.98px) {
                        left: 36%;
                        max-width: 25%;
                    }

                }

                .gear3 {
                    position: absolute;
                    left: 59%;
                    bottom: 30%;

                    @media (min-width: 992px) {
                        left: 72%;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        left: 62%;
                    }
                    @media (max-width: 575.98px) {
                        left: 58%;
                        max-width: 25%;
                    }

                }
            }

            .strategy-icons {
                
                .mobile-icon {
                    position: absolute;
                    left: 50px;
                    bottom: 0px;
                    z-index: 2;

                    @media (min-width: 992px) {
                        left: 14%;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        left: 18%;
                    }

                    @media (max-width: 575.98px) {
                        max-width: 20%;
                        left: 16%;
                    }
                }

                .desktop-icon {
                    position: absolute;
                    left: 80px;
                    bottom: 0px;
                    z-index: 1;

                    @media (min-width: 992px) {
                        left: 18%;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        left: 22%;
                    }

                    @media (max-width: 575.98px) {
                        max-width: 60%;
                        left: 20%;
                    }
                }
            }
        }
    }

    .strategy-dotted {
        display: none;

        @media (min-width: 992px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @media (min-width: 768px) {
            display:initial;
        }
    }
    
}
